@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SP Gadgets</h1>
    <p class="lead">Your one-stop shop for the latest gadgets and electronics</p>
    
</div>

<div class="row text-center mt-5">
    <div class="col-md-3">
        <div class="card">
            <img src="~/products/aspire_5.jpg" class="card-img-top" alt="Laptops">
            <div class="card-body">
                <h5 class="card-title">Laptops</h5>
                <p class="card-text">Explore our wide range of laptops.</p>
                <a href="/Products?category=Laptop" class="btn btn-primary">Shop Laptops</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="~/products/galaxy_s21.jpg" class="card-img-top" alt="Phones">
            <div class="card-body">
                <h5 class="card-title">Phones</h5>
                <p class="card-text">Discover the latest smartphones.</p>
                <a href="/Products?category=Phone" class="btn btn-primary">Shop Phones</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img  src="~/products/chromebook_flip.jpg" class="card-img-top" alt="Tablets">
            <div class="card-body">
                <h5 class="card-title">Tablets</h5>
                <p class="card-text">Find the perfect tablet for you.</p>
                <a href="/Products?category=Tablet" class="btn btn-primary">Shop Tablets</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="~/products/earphone-01.jpg" class="card-img-top" alt="Earphones">
            <div class="card-body">
                <h5 class="card-title">Earphones</h5>
                <p class="card-text">Browse our selection of earphones.</p>
                <a href="/Products?category=Earphone" class="btn btn-primary">Shop Earphones</a>
            </div>
        </div>
    </div>
</div>
